div.layout
{
	width         : 1010px;
	background    : ;
	/*padding-top: 0px;
	padding-left  : 10px;
	padding-right : 10px;*/
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font-weight: inherit;
font-style: inherit;
font-family: inherit;
text-align: left;
vertical-align: baseline;
}

html{ font-size:100%; }

body{
font-size:1em;
/*font-family: baskerville,'palatino linotype',georgia,serif;*/
font-family: georgia,"times new roman",times,serif;
/*font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;*/
color:#333333;
background:#fff;
line-height: 20px;
}
a:link,
a:visited{
color:#000;
text-decoration:none;
}
a:focus,a:hover,a:active{
text-decoration:underline;
}
.boxArticle{
	padding-top:10px;
}
.boxArticle .bigTitle{
	font-size: 1.250em;
	letter-spacing:-0.030em;
	font-weight: bold;
	border-bottom: 0.25em solid #a9a9a0;
	/*border-top: 0.071em solid #a9a9a0;*/
	padding-bottom:5px;
	/*background:#ffffcb;*/
}
.boxArticle h1{
	font-size: 0.875em;
	color: #993333;
	font-weight: bold;
	border-bottom: 0.071em solid #a9a9a0;
	padding-bottom:5px;
}
.boxArticle h2{
	font-size: 0.750em;
	font-weight: bold;
	color: #004276;
	padding-top:5px;
	line-height: 1.25em;
}
.boxArticle h2 a:link,
.boxArticle h2 a:visited{
	
	font-weight: bold;
	color: #004276;
	padding-top:5px;
}
.boxArticle p{
	font-size: 0.750em;
	line-height: 1.5em;
	padding-top:5px;
}
.boxArticle .date{
	font-family: arial,helvetica,sans-serif;
	color: #808080;
	font-size: 0.625em;
	line-height: 1.25em;
	padding-top:3px;
}

.boxListArticle{
	#padding-top:10px;
}
.boxListArticle .bigTitle{
	font-size: 1.250em;
	letter-spacing:-0.030em;
	font-weight: bold;
	border-bottom: 0.071em solid #a9a9a0;
	padding-bottom:5px;
}
.boxListArticle h1{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	background:#f4f4f4;
	font-size: 1.250em;
	text-align: left;
	line-height: 1.250em;
	color: #993333;
	font-weight: bold;
	height:40px;
	border-bottom:1px solid #e2e2e2;
	border-top:1px solid #e2e2e2
}
.boxListArticle .boxItem{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.boxListArticle .date{
	font-family: arial,helvetica,sans-serif;
	color: #000000;
	font-size: 0.720em;
	line-height: 0.875em;
}
.boxListArticle h2{
	font-size: 0.85em;
	font-weight: bold;
	color: #004276;
	padding-top:5px;
	line-height: 1.0em;
}
.boxListArticle h2 a:link,
.boxListArticle h2 a:visited{
	
	font-weight: bold;
	color: #004276;
	padding-top:5px;
}
.boxListArticle p{
	font-size: 0.750em;
	line-height: 1.5em;
	padding-top:5px;
	padding-left:10px;
}

.boxDetailArticle{
	padding:10px;
}
.boxDetailArticle h1{
	background:;
	font-size: 1.5em;
	text-align: left;
	line-height: 1.083em;
	color: black;
	font-weight: normal;
}
.boxDetailArticle p{
	font-size: 0.938em;
	line-height: 1.5em;
	padding-top:10px;
}
.boxDetailArticle .date{
	font-family: arial,helvetica,sans-serif;
	color: #000000;
	font-size: 0.720em;
	line-height: 0.875em;
}

.headerMenu{
	font-family:'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Helvetica,Arial,sans-serif;font-size:0.75em;
	color:#555555;
}
.headerMenu a:link,
.headerMenu a:visited{
	
	font-weight: normal;
	color:#fff;
	padding-top:5px;
}

.slideshow { margin-top: 0px;margin-left: 0px;}
.slideshow1 img { padding-left: 0px; border: 0px solid #ccc; background-color: #eee; }
.slideshow img {  border: 0px solid #ccc; background-color: #fff; }

/* START: image caption for the slideshow: http://chadcarr.com/blog/simple-overlay-image-captions-css/ */
.ImgCaptMain{
	/* only need a width if it's not inheriting one*/
 	width:420px; 
	position:relative;
}

.ImgCaptDescBox{
	position:absolute;
	bottom:0;
	left:0;
	/* since it's positioned absolutely it will need a width, but not height,
       that would fill the entire box covering the image */
	width:100%;
}

.ImgCaptDescBg{
	background:#333333;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	width:100%;
	opacity: 0.5;
	/*margin-right:4px;
	margin-bottom:5px;*/
}

.ImgCaptDesc{
	padding:5px;
	color:#fff;
	font-weight:normal;
	font-size:.785em;
	text-align:left;
}
/* END ---------------