Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on


#this will redirect home/main page to particular URL
#RewriteRule ^/?$ http://en.hukumonline.com%1 [R=permanent,L]


# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php